.info {
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 1px solid #555;
	
	> div {
		display: inline-block;
		width: 200px;
		
		.label {
			margin-right: 5px;
		}
		
		.value {
			font-weight: bold;
		}
	}
}