@import '../../scss/var';
.info {
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 1px solid #555;
  display: flex;
  justify-content: center;
  .label {
    font-size: 22px;
    .title {
      display: inline-block;
      font-weight: 700;
      margin-right: 4px;
    }
    margin-right: 10px;
  }
  .value {
    color: $red;
  }
}